<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.le.baseframe.core.dao.LoanDao">
    <!-- 分页查询贷款信息 -->
    <select id="searchLoans" resultType="map">
        SELECT  u.id userId,
        u.user_num userNumber,
        u.user_name userName,
        u.user_gender userGender,
        u.user_mobile userMobile,
        u.user_address userAddress,
        u.mobile_date mobileDate,
        u.user_marriage userMarriage,
        u.children_num childrenNum,
        u.support_num supportNum,
        u.user_education userEducation,
        u.is_nowcity isNowCity,
        u.user_houseregister userHouseRegister,
        u.live_type liveType,
        u.live_startdate liveStartDate,
        u.month_wages monthWages,
        u.company_properties companyProperties,
        u.is_privatecompany isPrivateCompany,
        u.user_position userPosition,
        u.user_positionlevel userPositionLevel,
        u.is_servant isServant,
        u.user_department userDepartment,
        u.join_companydate joinCompanyDate,
        u.company_mobile companyMobile,
        u.put_wagestype putWagesType,
        u.company_createdate companyCreateDate,
        u.company_social companySocial,
        u.company_socialdate companySocialDate,
        u.company_socialbase companySocialBase,
        u.user_pdf userPdf,
        u.pdf_createdate pdfCreateDate,
        u.pdf_base pdfBase,
        u.house_type houseType,
        u.house_buy_date houseBuyDate,
        u.house_money houseMoney,
        u.house_acreage houseAcreage,
        u.house_address houseAddress,
        u.house_is_address houseIsAddress,
        u.house_loanyear houseLoanYear,
        u.house_repayment_money houseRepaymentMoney,
        u.has_house_repayment hasHouseRepayment,
        u.car_buytype carBuyType,
        u.car_buydate carBuyDate,
        u.car_money carMoney,
        u.car_course carCourse,
        u.car_repayment_money carRepaymentMoney,
        u.car_brand carBrand,
        u.car_inputdate carInputDate,
        u.car_color carColor,
        u.car_model carModel,
        u.car_safe carSafe,
        u.car_hasfault carHasFault,
        u.linkman_nexus1 linkmanNexus1,
        u.linkman_nexus2 linkmanNexus2,
        u.linkman_nexus3 linkmanNexus3,
        u.user_idcard userIdCard,
        u.user_idcardurl userIdCardUrl,
        u.user_imgurl userImgUrl,
        u.user_profession userProfession,
        u.user_company userCompany,
        u.user_companyadr userCompanyAdr,
        u.linkman_name1 linkmanName1,
        u.linkman_mobile1 linkmanMobile1,
        u.linkman_name2 linkmanName2,
        u.linkman_mobile2 linkmanMobile2,
        u.linkman_name3 linkmanName3,
        u.linkman_mobile3 linkmanMobile3,
        u.user_status userStatus,
        u.user_remark userRemark,
        u.create_user createUser,
        u.edit_user editUser,
        u.create_time createTime,
        u.edit_time editTime,
        l.id id,
        l.user_id userId,
        l.loan_product_type loanProductType,
        l.loan_purpose loanPurpose,
        l.loan_repayment loanRepayment,
        l.loan_date loanDate,
        l.loan_money loanMoney,
        l.loan_interest loanInterest,
        l.loan_periods loanPeriods,
        l.loan_interest_period loanInterestPeriod,
        l.loan_type loanType,
        l.loan_pledge loanPledge,
        l.loan_status loanStatus,
        l.loan_remarks loanRemarks
        FROM loan_info l
        LEFT JOIN user_info u ON l.user_id = u.id
        WHERE l.loan_status = 0
        and u.user_status = 0
        <include refid="isCondition"/>
        ORDER BY l.create_time DESC
        limit #{startIndex}, #{pageSize};
    </select>

    <!-- 通过用户编号获取用户贷款信息 -->
    <select id="searchLoan" parameterType="long" resultMap="loanResultMap">
        SELECT * FROM loan_info
        WHERE loan_status = 0
        AND user_id = #{userId}
    </select>

    <!-- 获取所有贷款信息总条数 -->
    <select id="getRowCount" resultType="int">
        SELECT count(*)
        FROM loan_info l
        LEFT JOIN user_info u ON l.user_id = u.id
        WHERE l.loan_status = 0
        and u.user_status = 0
        <include refid="isCondition"/>
    </select>

    <!-- 查询条件 -->
    <sql id="isCondition">
        <if test="condition != null and condition != ''">
            AND ${condition}
        </if>
    </sql>

    <!-- 获取当前还款中的用户贷款信息 -->
    <select id="searchLoanInfo" resultType="loan" resultMap="loanResultMap">
        select * from loan_info where loan_status = 0
    </select>

    <!-- 添加贷款信息 -->
    <insert id="insertLoan" parameterType="map">
      insert into loan_info (id, user_id, loan_product_type, loan_purpose,
        loan_repayment, loan_date ,loan_money,loan_interest,
        loan_periods,loan_interest_period,loan_type,loan_pledge,loan_status,loan_remarks,
        create_time, edit_time, create_user, edit_user)
      values (null, #{userId}, #{loanProductType},#{loanPurpose},#{loanRepayment},
        #{loanDate}, #{loanMoney}, #{loanInterest}, #{loanPeriods},
        #{loanInterestPeriod}, #{loanType}, #{loanPledge}, #{loanStatus},
        #{loanRemarks}, unix_timestamp(now()), UNIX_TIMESTAMP(NOW()),
        #{createUser}, #{editUser});
    </insert>

    <!-- 修改用户贷款信息 -->
    <update id="updateLoan" parameterType="map">
        UPDATE loan_info SET user_id = #{userId},
        loan_product_type = #{loanProductType}, loan_purpose = #{loanPurpose},
        loan_repayment = #{loanRepayment}, loan_date = #{loanDate},
        loan_money = #{loanMoney}, loan_interest = #{loanInterest},
        loan_periods = #{loanPeriods}, loan_interest_period = #{loanInterestPeriod},
        loan_type = #{loanType}, loan_pledge = #{loanPledge}, loan_status = #{loanStatus},
        loan_remarks = #{loanRemarks}, edit_time = unix_timestamp(now()),
        edit_user = #{editUser}
        WHERE id = #{id};
    </update>

    <update id="updateLoanStatus" parameterType="loan">
        UPDATE loan_info SET loan_status = #{loanStatus},
        edit_time = unix_timestamp(now()),
        edit_user = #{editUser}
        WHERE id = #{id};
    </update>

    <!-- 删除贷款信息 -->
    <delete id="deleteLoan" parameterType="long">
        UPDATE loan_info SET loan_status = 2
        WHERE id = #{id}
    </delete>

    <!-- 用户信息与表对应关系 -->
    <resultMap id="loanResultMap" type="loan">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>

        <result property="loanProductType" column="loan_product_type"></result>
        <result property="loanPurpose" column="loan_purpose"></result>
        <result property="loanRepayment" column="loan_repayment"></result>
        <result property="loanDate" column="loan_date"></result>

        <result property="loanMoney" column="loan_money"></result>
        <result property="loanInterest" column="loan_interest"></result>
        <result property="loanPeriods" column="loan_periods"></result>
        <result property="loanInterestPeriod" column="loan_interest_period"></result>
        <result property="loanType" column="loan_type"></result>
        <result property="loanPledge" column="loan_pledge"></result>
        <result property="loanStatus" column="loan_status"></result>
        <result property="loanRemarks" column="loan_remarks"></result>
        <result property="createUser" column="create_user"></result>
        <result property="editUser" column="edit_user"></result>
        <result property="createTime" column="create_time"></result>
        <result property="editTime" column="edit_time"></result>
    </resultMap>
</mapper>