<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.le.baseframe.core.dao.RepaymentDao">


    <!-- 分页获取用户还款信息 -->
    <select id="searchRepayments" resultType="map">
        SELECT l.id loanId,l.loan_money loanMoney, l.loan_interest loanInterest,l.loan_periods loanPeriods,l.loan_interest_period loanInterestPeriod,
        l.loan_type loanType,l.loan_pledge loanPledge,l.loan_status loanStatus, l.loan_remarks loanRemarks,
        u.id userId,u.user_num userNumber,u.user_name userName,u.user_gender userGender,u.user_mobile userMobile,
        u.user_address userAddress,u.user_idcard userIdCard,u.user_idcardurl userIdCardUrl,u.user_imgurl userImgUrl,
        u.linkman_name1 linkmanName1,u.linkman_mobile1 linkmanMobile1,
        u.linkman_name2 linkmanName2,u.linkman_mobile2 linkmanMobile2,
        u.linkman_name3 linkmanName3,u.linkman_mobile3 linkmanMobile3,
        r.id id,r.repayment_money repaymentMoney,r.repayment_source repaymentSource,
        r.repayment_time repaymentTime, r.lower_time lowerTime,r.repayment_status repaymentStatus,r.repayment_remark repaymentRemark,
        r.create_time createTime
        FROM repayment_info r
        LEFT JOIN loan_info l ON r.loan_id = l.id
        LEFT JOIN user_info u ON r.user_id = u.id
        WHERE r.repayment_status &lt; 2  AND l.loan_status &lt; 2 AND u.user_status = 0
        <include refid="isCondition"/>
        ORDER BY r.create_time DESC
        limit #{startIndex}, #{pageSize};
    </select>

    <!-- 获取还款信息总条数 -->
    <select id="getRowCount" parameterType="string" resultType="int">
        SELECT count(*)
        FROM repayment_info r
        LEFT JOIN loan_info l ON r.loan_id = l.id
        LEFT JOIN user_info u ON r.user_id = u.id
        WHERE r.repayment_status &lt; 2  AND l.loan_status &lt; 2 AND u.user_status = 0
        <include refid="isCondition"/>
    </select>

    <!-- 查询条件 -->
    <sql id="isCondition">
        <if test="condition != null and condition != ''">
            AND ${condition}
        </if>
    </sql>

    <!-- 通过用户Id用户还款信息 -->
    <select id="searchRepayment" parameterType="long" resultMap="repaymentResultMap">
      SELECT * FROM repayment_info
      WHERE repayment_status &lt; 2
      AND user_id = #{userId}
    </select>

    <select id="searchRepaymentByLowerTime" resultMap="repaymentResultMap">
        SELECT * FROM repayment_info
        WHERE lower_time = #{lowerTime}
        AND loan_id = #{loanId}
        AND repayment_status = #{repaymentStatus};
    </select>

    <!-- 添加还款单信息 -->
    <insert id="insertRepayment" parameterType="repayment">
        INSERT INTO repayment_info (id, user_id, loan_id, repayment_money,
        repayment_source, repayment_time, lower_time, repayment_status,
        repayment_remark, create_user, edit_user, create_time, edit_time)
        VALUES (null, #{userId}, #{loanId}, #{repaymentMoney}, #{repaymentSource},
        #{repaymentTime}, #{lowerTime}, #{repaymentStatus}, #{repaymentRemark},
        #{createUser}, #{editUser}, unix_timestamp(now()), UNIX_TIMESTAMP(NOW()));
    </insert>

    <!-- 修改还款记录信息 -->
    <update id="updateRepayment" parameterType="repayment">
        UPDATE repayment_info SET user_id = #{userId},
        loan_id = #{loanId}, repayment_money = #{repaymentMoney},
        repayment_source = #{repaymentSource}, repayment_time = #{repaymentTime},
        lower_time = #{lowerTime}, repayment_status = #{repaymentStatus},
        repayment_remark = #{repaymentRemark}, edit_user = #{editUser}, edit_time = unix_timestamp(now())
        where id = #{id};
    </update>


    <!-- 删除还款记录单 -->
    <delete id="deleteRepayment" parameterType="long">
        UPDATE repayment_info SET repayment_status = 2
        WHERE id = #{id}
    </delete>
    <!-- 用户信息与表对应关系 -->
    <resultMap id="repaymentResultMap" type="repayment">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="loanId" column="loan_id"></result>
        <result property="repaymentMoney" column="repayment_money"></result>
        <result property="repaymentSource" column="repayment_source"></result>
        <result property="repaymentTime" column="repayment_time"></result>
        <result property="lowerTime" column="lower_time"></result>
        <result property="repaymentStatus" column="repayment_status"></result>
        <result property="repaymentRemark" column="repayment_remark"></result>
        <result property="createUser" column="create_user"></result>
        <result property="editUser" column="edit_user"></result>
        <result property="createTime" column="create_time"></result>
        <result property="editTime" column="edit_time"></result>
    </resultMap>
</mapper>