<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.le.baseframe.core.dao.ReportDao">

    <!-- 近六月用户添加统计 -->
    <select id="getUserReport" resultType="map">
        SELECT DATE_FORMAT(NOW(), '%Y-%m') x, COUNT(1) y FROM user_info WHERE create_time &gt;= UNIX_TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY))
        AND user_status = 0

        UNION ALL
        SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 MONTH), '%Y-%m') x, COUNT(1) Y
        FROM user_info WHERE create_time &gt;= UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 1 MONTH))
        AND create_time &lt;= UNIX_TIMESTAMP(DATE_SUB(FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 0 MONTH))), INTERVAL 1  SECOND))
        AND user_status = 0

        UNION ALL
        SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 2 MONTH), '%Y-%m') x, COUNT(1) y
        FROM user_info WHERE create_time &gt;= UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 2 MONTH))
        AND create_time &lt;= UNIX_TIMESTAMP(DATE_SUB(FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 1 MONTH))), INTERVAL 1  SECOND))
        AND user_status = 0

        UNION ALL
        SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 3 MONTH), '%Y-%m') x, COUNT(1) y
        FROM user_info WHERE create_time &gt;= UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 3 MONTH))
        AND create_time &lt;= UNIX_TIMESTAMP(DATE_SUB(FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 2 MONTH))), INTERVAL 1  SECOND))
        AND user_status = 0

        UNION ALL
        SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 4 MONTH), '%Y-%m') x, COUNT(1) y
        FROM user_info WHERE create_time &gt;= UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 4 MONTH))
        AND create_time &lt;= UNIX_TIMESTAMP(DATE_SUB(FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 3 MONTH))), INTERVAL 1  SECOND))
        AND user_status = 0

        UNION ALL
        SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 5 MONTH), '%Y-%m') x, COUNT(1) y
        FROM user_info WHERE create_time &gt;= UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 5 MONTH))
        AND create_time &lt;= UNIX_TIMESTAMP(DATE_SUB(FROM_UNIXTIME(UNIX_TIMESTAMP(DATE_SUB(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY), INTERVAL 4 MONTH))), INTERVAL 1  SECOND))
        AND user_status = 0
    </select>

    <!-- 本期未还款统计 -->
    <select id="getNoPayReport" resultType="map">
        select GROUP_CONCAT(nopay) nopay
        from (
        SELECT COUNT(1) nopay
        FROM repayment_info r
        LEFT JOIN loan_info l ON r.loan_id = l.id
        LEFT JOIN user_info u ON r.user_id = u.id
        WHERE r.repayment_status = 0 AND l.loan_status &lt; 2 AND u.user_status = 0
        AND lower_time = UNIX_TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY))
        UNION ALL
        SELECT COUNT(1) nopay
        FROM repayment_info r
        LEFT JOIN loan_info l ON r.loan_id = l.id
        LEFT JOIN user_info u ON r.user_id = u.id
        WHERE r.repayment_status &lt; 2 AND l.loan_status &lt; 2 AND u.user_status = 0
        AND lower_time = UNIX_TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL - DAY(CURDATE())+1 DAY))
        ) t
    </select>

    <!-- 各个贷款类型贷款总金额 -->
    <select id="getLoanTypeMoney" resultType="map">
        SELECT '等额本息' x, CASE WHEN SUM(loan_money/100) &gt; 0 THEN SUM(loan_money/100) ELSE 0 END y
        FROM loan_info l
        LEFT JOIN user_info u ON l.user_id = u.id
        WHERE l.loan_status &lt; 2 AND l.loan_type = 1 UNION ALL
        SELECT '先息后本' x, CASE WHEN SUM(loan_money/100) &gt; 0 THEN SUM(loan_money/100) ELSE 0 END y
        FROM loan_info l
        LEFT JOIN user_info u ON l.user_id = u.id
        WHERE l.loan_status &lt; 2 AND l.loan_type = 0
    </select>
</mapper>